
.banner {
  padding: 0 10px;
  /* background-color: black; */
  border-bottom: 2px solid #E0E0E0;
  display: flex;
  width: 100%;
}

.wave-pattern img {
  height: 15px;
  display: block;
  width: 165px;
  margin-bottom: 10px;

}
.taxprojectlogo img {
  display: block;
  width: 60px;
  height: 32px;
  margin-bottom: 10px; 
}

.title1 h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.title1 p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #7F8C8D;
}

.button-container {
  margin-left: auto; 
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2C3E50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #34495E;
}


.description-image {
  display: block;
  margin: 0 auto 10px auto; /* Center the image and add space below */
  width: 50px;
  height: 50px;
}

 .tooltip-container {
  position: relative;
  display: inline-block;
}
/* 
.info-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
} */

.tooltip-content {
  visibility: visible; /* Will be toggled in React */
  width: 300px;
  background-color: white;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

.tooltip-header {
   display: flex;
   /* border-bottom: 1px solid #999999; */
  /*flex-direction: column;
  align-items: flex-start; */
}
/* 
.tooltip-title {
  font-size: 16px;
  margin: 0;
}

.tooltip-subtitle {
  font-size: 12px;
  color: gray;
  margin-top: 5px;
}

.tooltip-metrics {
  display: flex;
  justify-content: space-around;
  background-color: #00264d;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
}

.metric {
  font-size: 10px;
} */

.tooltip-description {
  /* display: flex; */
  align-items: center;
  margin-top: 15px;
}



.tooltip-footer {
  margin-top: 15px;
  font-size: 10px;
  color: gray;
  border-top: 2px dashed gray;
  padding-top: 10px;
}


.closIcon i{

  text-align: right;
  cursor: pointer;
  position: absolute;
  right: 6px;
  top: 6px;
}